//- layout.pug
html
    head
        title Meteo Widget
        link(href='/bootstrap.min.css' rel='stylesheet')
    body
        div.container
            h1 Meteo Widget Admin UI
            block content
