ul(style='list-style-type:none;margin:0;padding:0;')
    for day in days || []
        if day
            li(style='margin:10px;')
                div= 'Date: ' + day.dt_txt.substring(0, 10)
                div= 'Temperature: ' + day.main.temp
